body {
    background-image: url('../Images/cave3.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; font-size: 75px;
   color: navy;
    height: fit-content; width: fit-content;
    text-align: center;
    margin-left: auto; margin-right: auto;
}
main{
    height: max-content; width: max-content;
    margin-left: auto; margin-right: auto;
}

#des {
    margin-top: 5px; margin-left: auto; margin-right: auto;
    height: fit-content; width: fit-content;
    background-blend-mode:color-burn;
    color: navy;
    font-family: Arial, Helvetica, sans-serif; font-weight: bold;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}
p {
    height: max-content; width: max-content;
    margin-right: auto; margin-left: auto;
    text-align: center;
    }

#toGuess {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder; font-size: xxx-large;
    height: max-content; width: max-content;
    color: navy;
    margin-right: auto; margin-left: auto;
}

#score {
 height: fit-content; width: fit-content;
 font-size: large; font-family: Arial, Helvetica, sans-serif;
 font-weight: bolder;
 color: white;
 background-blend-mode: hard-light;
 margin-left: auto; margin-right: auto;
}

#smHeader {
    height: fit-content; width: fit-content;
    color: white;
    font-size: xx-large; font-weight: bold; font-family: Arial, Helvetica, sans-serif;
    margin-right: auto; margin-left: auto;
}

#usrNumber {
    height: fit-content; width: 150px;
    color: navy;
    font-size: xxx-large; font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: auto; margin-right: auto;
}
.box {
    margin-right: auto; margin-left: auto;
    height: max-content; width: max-content;
    border-radius: 50px;
}
.btns {
    border-radius: 50px;
}
#sack {
    height: 200px; width: 200px;
}

@media screen (max-width:980px;){
    
}

@media screen (max-width:640px;){
    main {
        height: min-content; width: min-content;
    }

    p{
        height: min-content; width: min-content;
        font-size: medium; line-height: 1.0;
    }

    #des {
        height: min-content; width: min-content;
    }
}

@media screen (max-width:350px;) {
    main {
        height: min-content; width: min-content;
    }

    p {
        height: min-content; width: min-content;
    }

    #des {
        height: min-content; width: min-content;
    }
}